<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Edit Category' : 'Add Category'"
    subheader="You can add or edit categories here"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="toolbar-group-right"></div>
          <div class="toolbar-group-left">
            <p-button
              styleClass="p-button-primary mr-2"
              [label]="editMode ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (onClick)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Cancel"
              icon="pi pi-arrow-circle-left"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="card">
            <h5>Vertical and Grid</h5>
            <div class="formgrid grid">
              <div class="field col">
                <label for="name">Name</label>
                <input
                  id="name"
                  formControlName="name"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                />
                <small *ngIf="categoryForm.name.invalid && isSubmitted" class="p-error"
                  >Name is required</small
                >
              </div>
              <div class="field col">
                <label for="icon">Icon</label>
                <input
                  id="icon"
                  formControlName="icon"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                />
                <small *ngIf="categoryForm.icon.invalid && isSubmitted" class="p-error"
                  >Icon is required</small
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
