.nav {
  li {
    display: inline-block;
    margin-right: 15px;

    a {
      color: var(--surface-500);

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}
